/* nav */

.nav-wrapper nav {
  position: fixed;
  z-index: 998;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  margin-top: 2rem;
}

.sticky {
  opacity: 0;
}

.top-button {
  position: fixed;
  z-index: 998;
  display: flex;
  align-items: center;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  opacity: 0;
  bottom: 6.5rem;
  right: 0.5rem;
}

.top-button-icon {
  margin: 0 auto;
  font-size: 26px;
  color: var(--white);
}
.shown {
  opacity: 100%;
}

.nav-p {
  position: fixed;
  z-index: -1;
  color: var(--blueshadow);
  font-size: 18px;
  font-weight: 700;
}

.nav-p:nth-child(1) {
  top: 1rem;
  left: 2rem;
}
.nav-p:nth-child(3) {
  top: 5.3rem;
  right: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 26px;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar .icon {
  font-size: 20px;
  margin-left: 1rem;
  color: var(--black);
}

.search-bar input {
  display: block;
  background-color: transparent;
  color: var(--black);
  outline: none;
  border: none;
  width: 50vw;
  height: 35px;
  font-size: 16px;
  transition: all 0.2s;
  padding: 10px;
}

.add-button {
  display: inline;
  width: 25%;
  height: 35px;
  border: none;
  border-radius: 26px;
  background-color: var(--white);
  color: var(--black);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-button:hover {
  background-color: var(--graywhite);
  transition: all 0.2s;
}

@media only screen and (min-width: 900px) {
  .nav-wrapper nav {
    padding-inline-start: 18%;
    padding-inline-end: 18%;
  }

  .search-bar input {
    width: 40vw;
  }

  .nav-p:nth-child(1) {
    top: 1rem;
    left: 11.5rem;
  }
  .nav-p:nth-child(3) {
    top: 5.3rem;
    right: 11.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .nav-wrapper nav {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  .nav-p:nth-child(1) {
    top: 4rem;
    left: 16rem;
  }
  .nav-p:nth-child(3) {
    top: 8.3rem;
    right: 16rem;
  }
}

@media only screen and (min-width: 1900px) {
  .nav-wrapper nav {
    margin-top: 6rem;
    margin-bottom: 10rem;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
  }

  .nav-p:nth-child(1) {
    top: 5rem;
    left: 12rem;
  }
  .nav-p:nth-child(3) {
    top: 9.3rem;
    right: 12rem;
  }

  .add-button {
    width: 13%;
  }

  .search-bar input {
    width: 60vw;
  }
}

@media only screen and (min-width: 2500px) {
  .nav-p:nth-child(1) {
    top: 5rem;
    left: 16rem;
  }
  .nav-p:nth-child(3) {
    top: 9.3rem;
    right: 16rem;
  }
}
